*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
/*font-family: 'Roboto Slab', serif;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0,24,187);
background: linear-gradient(125deg, rgba(0,24,187,1) 0%, rgba(86,104,228,1) 50%, rgba(0,24,187,1) 100%);
}
#app{
  display: none;
  background: #FAFAFA;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 80%;
  color: #37474F;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 3px;
}
.Clouds{
  background-image: url(../img/Clouds.jpg);
  background-size: cover;
}
.Clear{
  background-image: url(../img/Clear.jpg);
  background-size: cover;
}
.Mist{
  background-image: url(../img/Mist.jpg);
  background-size: cover;
}
.information{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 25px;
}
.information h3, .information h4{
  text-align: center;
  text-align: center;
}
#location{
  font-weight: bold;
  width: 100% !important;
  font-size: 22px;
  font-family: 'Roboto Slab', serif;
}
#date{
  font-size: 14px;
  width: 100% !important;
  font-weight: normal;
}
.icon{
  margin-bottom: 25px;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  color: #fafafa;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#temperature{
  font-size: 50px;

}


.aditionaldata{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.aditionaldata div{
  width: 100%;
  text-align: center;
}


.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
